<!-- Notification -->
<div notification></div>

<div class="posts pure-g">
    <h1 class="content-subhead pure-u-1">Forgot</h1>

    <section class="post pure-u-1">
        <form class="pure-form pure-form-stacked" name="forgotForm" novalidate ng-hide="isToken()">
            <fieldset>

                <label for="email">Email</label>
                <input id="email" name="email" type="text" placeholder="Enter your email" ng-model="user.email" required>
                <p ng-show="forgotForm.email.$invalid && !forgotForm.email.$pristine">
                    <strong class="text-danger">Your email is required.</strong>
                </p>

                <p class="captcha">
                    <!-- Captcha -->
                    <div vc-recaptcha tabindex="3" theme="clean" key="recaptcha.key"></div>
                </p>

                <p>
                    <a href="#" class="pure-button pure-button-success" ng-click="submit(forgotForm.$valid)" ng-disabled="forgotForm.$invalid">Recover your password</a>
                </p>
            </fieldset>
        </form>
    </section>
</div>
